<h1>Editing person</h1>

<%=
  render(
    partial: "form",
    locals: {
      person: @person,
      address: @person.address_id,
      path: person_path(@person),
      scope: :person
    }
  )
%>

<br>

<div>
  <%= link_to "Show", person_path(@person) %> |
  <%= link_to "Back to address", address_path(@person.address) %>
</div>