<p style="color: green"><%= notice %></p>

<h1>People</h1>

<%= link_to "Back people", people_path %>

<div id="people">
  <table>
    <thead>
      <tr>
        <th>Fullname</th>
        <th>CNS</th>
        <th>E-mail</th>
        <th>Birthday</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <%= render partial: "person", locals: { person: person } %>
        </tr>
      <% end %>

      <%== pagy_nav(@pagy) %>
    </tbody>
  </table>
</div>