<h1>New person</h1>

<%=
  render(
    partial: "form",
    locals: {
      person: @person,
      address: @address,
      path: people_path,
      scope: :person
    }
  )
%>

<br>

<div>
  <%= link_to "Back to address", address_path(@address) %>
</div>