<p style="color: green"><%= notice %></p>

<strong style="font-size: 36px">Person</strong>

<%= render partial: "person", locals: { person: @person } %>

<div>
  <%= link_to "Edit this person", edit_person_path(@person) %> |
  <%= link_to "Back to address", address_path(@person.address) %>
</div>