<p style="color: green"><%= notice %></p>

<strong style="font-size: 36px">County</strong>

<%= render partial: "county", locals: { county: @county } %>

<hr>

<%= render partial: "addresses/addresses", locals: { county: @county } %>