<h1>Editing address</h1>

<%=
  render(
    partial: "form",
    locals: {
      address: @address,
      path: addresses_path,
      scope: :address
    }
  )
%>

<br>

<div>
  <%= link_to "Cancel", :back %>
</div>